{% extends 'base.html' %}
{% load static %}
{% block title %}
 <title>Transactions</title>
    {% endblock title %}

{% block body_block %}
<br><br>
<body class="b1">
{%if messages%}
  {%for message in messages%}
    <div class="alert alert-secondary alert-dismissible alert-success" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
 {% endif %}

 <br>

<h3 >All Transactions</h3>
<link href="{% static 'css/style.css' %}" rel="stylesheet" >
<table class="table table-bordered text-center table-striped table-light" id="tble">
  <thead class="table-dark">
    <tr>
      <th scope="col" class="tble" style="width: 100px;">Transaction No.</th>
      <th scope="col" style="width: 225px;">Sender</th>
      <th scope="col" style="width: 225px;">Receiver</th>
      <th scope="col" class="tble">Amount(₹)</th>
      <th scope="col" class="tble">Date</th>
    
    </tr>
  </thead>
  <tbody>


  {% for c in transactions %}
    <tr>
      
      <td>{{c.id}}</td>
      <td>{{c.from_field}}</td>
      <td>{{c.to_field}}</td>
      <td>{{c.amount}}</td>
      <td>{{c.date}}</td>
      
    </tr>
    {% endfor %}
    
  </tbody>
</table>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<br><br><br><br><br><br>
</body>
{% endblock  %}